{
  "env": {
    "browser": true
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "dot-notation": "off",
    "no-inner-declarations": "off",
    "no-prototype-builtins": "off",
    "no-dupe-class-members": "off",
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "no-unused-expressions": "off",
    "camelcase": "off",
    "no-useless-constructor": "off",
    "no-implicit-coercion": "error",
    "curly": "error",
    "no-shadow": "error"
  }
}
