/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

h1,
h2,
h3,
h4,
p,
span
{
    margin: 0;
}

a
{
    font-weight: bold;

    text-decoration: none;

    color: #008500;
}

ul
{
    padding-left: 1em;
}

ul.slash-list > li
{
    display: inline-block;
}

ul.slash-list > li::after
{
    margin: 0 .3em;

    content: '/';
}

ul.slash-list > li:last-child::after
{
    display: none;
}

li
{
    line-height: 1.5em;
}

body
{
    font-family: 'Ropa Sans', sans-serif;

    margin: 0;
}

/* ------------------ */

div#content-wrapper
{
    display: flex;

    max-width: 1024px;
    margin: 0 auto;
}

section.content
{
    position: relative;

    box-sizing: border-box;
    width: 50%;
}

h1#name-card__name
{
    font-size: 2em;
}

section#content-left
{
    text-align: center;
}

img#profile-img
{
    max-width: 60%;
    border: 4px solid black;
    border-radius: 50%;
}

section#content-right
{
    height: 100vh;
    overflow: scroll;
    background-color: white;
}


h1.heading-title
{
    margin: .5em 0;
    margin-top: 1em;
}

h1.heading-title::before
{
    margin-right: .3em;

    content: '#';
}

span.employments__duration
{
    margin-left: .5em;

    color: gray;
}
