/*
* base styles
*/

/* variables */
:root {
  /* colors */
  --clr-white: #ffffff;
  --clr-lightgray: #d3d3d3;
  --clr-silver: #c0c0c0;
  --clr-darkgray: #a9a9a9;
  --clr-gray: #808080;
  --clr-dimgray: #696969;
  --clr-almostblack: #232323;
  --clr-black: #000000;
  --clr-lightgreen: #82be28;
  --clr-leafgreen: #008500;

  /* device size */
  --desktop-width: 960px;
  --mobile-width: 480px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
strong {
  color: var(--thm-primary-text);
  line-height: 1.5em;
}
a {
  color: var(--thm-highlight-text);
  font-weight: bold;
  text-decoration: none;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style: disc;
}
section {
  margin: 16px 0;
}

/* accessibility */
*:focus {
  outline: var(--thm-highlight-text) solid 2px;
}
