/* light and no-preference */
:root {
  /* background */
  --thm-primary-bg: var(--clr-white);
  --thm-secondary-bg: var(--clr-lightgray);
  --thm-inverted-bg: var(--clr-black);

  /* text */
  --thm-primary-text: var(--clr-black);
  --thm-secondary-text: var(--clr-dimgray);
  --thm-inverted-text: var(--clr-white);
  --thm-highlight-text: var(--clr-leafgreen);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* background */
    --thm-primary-bg: var(--clr-black);
    --thm-secondary-bg: var(--clr-almostblack);
    --thm-inverted-bg: var(--clr-lightgray);

    /* text */
    --thm-primary-text: var(--clr-white);
    --thm-secondary-text: var(--clr-silver);
    --thm-inverted-text: var(--clr-black);
    --thm-highlight-text: var(--clr-lightgreen);
  }
}
