h1,
h2,
h3,
h4,
p,
span,
strong {
  margin: 0;
  line-height: 1.5em;
}
a {
  color: #008500;
  font-weight: bold;
  text-decoration: none;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
}
ul.slash-list {
  padding-left: 0;
}
ul.slash-list > li {
  display: inline-block;
}
ul.slash-list > li::after {
  margin: 0 .3em;
  content: '/';
}
ul.slash-list > li:last-child::after {
  display: none;
}
body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
}
/* ------------------ */
div#content-wrapper {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
section.content {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 0 32px;
}
.noticeCard {
  padding: 16px;
  background: lightgoldenrodyellow;
  border-radius: 8px;
}
div#profile-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}
h1#name-card__name {
  font-size: 3em;
}
span#name-card__description {
  font-size: 1.5em;
}
section#content-left {
  text-align: center;
}
img#profile-img {
  max-width: 60%;
  border: 4px solid black;
  border-radius: 50%;
}
section#content-right {
  height: 100vh;
  padding: 64px 0;
  overflow: scroll;
  background-color: white;
}

h1.heading-title {
  margin: .5em 0;
  margin-top: 1em;
  font-size: 2em;
}
h1.heading-title::before {
  margin-right: .3em;
  content: '#';
}
span.employments__duration {
  margin-left: .5em;
  color: gray;
}
