body {
  background: var(--thm-primary-bg);
}
ul.slash-list {
  padding-left: 0;
}
ul.slash-list > li {
  display: inline-block;
}
ul.slash-list > li::after {
  margin: 0 0.3em;
  content: '/';
}
ul.slash-list > li:last-child::after {
  display: none;
}
#content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--desktop-width);
  margin: 0 auto;
  font-family: 'Ropa Sans', sans-serif;
}
aside {
  position: sticky;
  top: 48px;
  left: 0;
  width: 50%;
  height: fit-content;
  text-align: center;
}
main {
  margin-left: 60px;
}
#name-card {
  margin-top: 12px;
}
#name-card__name {
  font-size: 2.5em;
  line-height: 1em;
}
#name-card__description {
  font-size: 1.2em;
}
#profile-img {
  border: 4px solid var(--thm-inverted-bg);
  border-radius: 50%;
}
h1.heading-title {
  margin: 0.5em 0;
  margin-top: 1em;
  font-size: 2em;
}
h1.heading-title::before {
  margin-right: 0.3em;
  content: '#';
}
span.employments__duration {
  margin-left: 0.5em;
  color: var(--thm-secondary-text);
}
